:root {
  --primary: hsl(181, 100%, 30%);
  --accent: hsl(181, 100%, 30%);
  --ring: hsl(181, 100%, 30%);
  --glow: hsl(181, 100%, 30%);
  --sidebar-primary: hsl(181, 100%, 30%);
  --sidebar-ring: hsl(181, 100%, 30%);
}